rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /natal/{allPaths=**} {
      allow read: if true;
      
      // Permite criar imagens (upload)
      allow create: if request.auth != null
        && (request.resource.contentType.matches('image/.*'))
        && request.resource.size < 10 * 1024 * 1024;
      
      // Apenas admin pode deletar imagens
      allow delete: if request.auth != null 
        && request.auth.token.email == 'jhessymary26@gmail.com';
    }
  }
}
